<div id="contact">

      <div class="row section-head">
         <div class="col full">
            <h2>Edit User</h2>
         </div>
      </div>

      <div class="row">

         <div class="col g-7">

            <!-- form -->

            <%= form_for @user, url: {action: "update"}, :html => {:id => "contactForm"} do |f| %>

          <fieldset>

                  <div>
                     <%= f.label :name %><br />
                     <%= f.text_field :name %>
                  </div>

                  <div>
                     <%= f.label :email %><br />
                     <%= f.text_field :email %>
                  </div>
                  
                  <div>
                     <%= f.label :number1 %><br />
                     <%= f.phone_field :number1 %>
                  </div>

                  <div>
                     <%= f.label :number2 %><br />
                     <%= f.phone_field :number2 %>
                  </div>

                  <div>
                     <button class="submit">Edit</button>
                     <span id="image-loader">
                        <img src="images/loader.gif" alt="" />
                     </span>
                  </div>

          </fieldset>
        <% end %><!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning"></div>
            <!-- contact-success -->
        <div id="message-success">
               <i class="icon-ok"></i>Your message was sent, thank you!<br />
        </div>

         </div>

      </div>

   </div> 